<div class="container"  *ngIf="!!events">
  <app-navbar title="Events List" icone="event"></app-navbar>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th *ngFor="let display of  displayedColumns">{{display}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of  events">
                  <td>{{event.id}}</td>
                  <td>{{event.title}}</td>
                  <td>{{event.date}}</td>
                  <td>{{event.location}}</td>
                  <td>
                    <button *ngIf="isAuthenticated() && isAdmin()" mat-icon-button (click)="onEdit(event.id)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="isAuthenticated() && isAdmin()" mat-icon-button color="warn" (click)="onRemoveAccount(event.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    
                  </td>
                </tr>
              </tbody>
              <div class="row action-btn">
                <button *ngIf="isAuthenticated() && isAdmin()" md-raised-button type="submit" class="btn btn-rose" (click)="onAdd()">Add New Event</button>
              </div>
            </table>
            <mat-paginator [pageSize]="2" [length]="totalPages" (page)="nextPage($event)"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>