<div class="container" *ngIf="!!countMember && !!countPublication && !!countTool && !!countEvent" >
  <app-navbar title="Home" icone="home"></app-navbar>
  <div class="row" style="margin-top: 30px">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard 
        title={{countMember}}
        headerIcon="group"
        category="Total Members"
        linearColor="linear-gradient(60deg, #ffa726, #fb8c00)"
       >
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
      title={{countPublication}}
        headerIcon="bookmarks"
        category="Publications"
        linearColor="linear-gradient(60deg, #ef5350, #e53935)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
      title={{countTool}}
        headerIcon="store"
        category="Tools"
        linearColor="linear-gradient(60deg, #66bb6a, #43a047)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
      title={{countEvent}}
        headerIcon="events"
        category="Events"
        linearColor="linear-gradient(60deg, #26c6da, #00acc1)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4)">
      </app-figurecard>
    </div>
  </div>
  

</div>
